.DS_Store
.idea/
.vscode/
.omx/
.stripe-public-release-export
node_modules/
dist/
.angular/
build/
output/
.scannerwork/
hybris/bin/platform/
hybris/data/
hybris/log/
hybris/temp/
*.class
*.jar
*.war
*.zip
